/*general CSS across all webpages*/
*{
  box-sizing:border-box;
}
body {
  margin: 0;
  padding:0;
  font-family: Arial, Helvetica, sans-serif;
}
.navBar{
  display:flex;
  justify-content:space-around;
  align-items:center;
  background-color: rgb(62, 220, 83);
}
.brandTitle{
font-size: 1.5rem;
margin: 0.5rem;
justify-content:left ;
}

.navBar ul{
  margin:0;
  padding:0;
  display: flex;
}
.navBar li{
  list-style: none;
}
.navBar li a{
  text-decoration: none;
  padding:1rem;
  display: block;
}
.navBar li :hover{
  background-color:rgba(0, 0, 0, 0.729) ;
}
.toggleButton{
  position:absolute;
  top:.75rem;
  right:1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width:30px;
  height:21px;
}
.toggleButton .bar{
  height:3px;
  width:100%;
  background-color: rgb(254, 254, 254);
  border-radius: 10px;
}

h1, h2, h3, p {
  text-align:center;
}
img{
  display: block;
  margin:0 auto;
  border-radius: 25px;
}
